<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Erad.io</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag "loginstyle.css" %>
</head>

<body>
	
  <div id="header">
	  <a href="/"><img src="images/logo.png" id="logo"></a>
	  <a href=""><img src="images/tab.png" id="tab"></a>
	  
	  <a href="login"><p id="signin">Sign in</p></a>
	  <a href="signup"><p id="signup">Sign up</p></a>
  </div>
  
  <div id="dropmenu">
    <div class="dropdown-content">
      <a href="/help" id="top">Help</a>
      <a href="/contact">Contact</a>
      <a href="/cookies">Cookies</a>
      <a href="/rules"id="bottom">Rules</a>
    </div>
  </div>

  <div id="login">
  <h1>Login</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :username, :placeholder => "Username" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Log in", class: "btn-submit" %>
    <% end %>
  </div>

  
 <%= javascript_include_tag "jquery.js", "index.js"  %>
  
</body>

</html>
