<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Iomha</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag "indexstyle.css" %>
</head>

<body>
	
  <div id="header">
	  <a href="/"><img src="/images/logo.png" id="logo"></a>
	  <a href=""><img src="/images/tab.png" id="tab"></a>
	  
	  <% unless current_user then %>
	    <a href="login"><p id="signin">Sign in</p></a>
	    <a href="signup"><p id="signup">Sign up</p></a>
	  <% else %>
	    <% if current_user.notifications > 0 then %>
	      <a href=""><img src="/images/trired.png" id="tri"></a>
	    <% else %>
	      <% if current_user.notifications > 0 then %>
	      <a href=""><img src="/images/trired.png" id="tri"></a>
	    <% else %>
	      <a href=""><img src="/images/tri.png" id="tri"></a>
	    <% end %>
	    <% end %>
	    <a href="/user/<%=current_user.username%>"><p id="c_user"><%=current_user.username%></p></a>
	  <% end %>
  </div>
  
  <div id="umenu">
    <div class="u-content">
      <a href="/messages" id="utop">Messages</a>
      <a href="/themes">Themes</a>
      <a href="/logout" id="ubottom">Sign out</a></a>
    </div>
  </div>
  
  <div id="dropmenu">
    <div class="dropdown-content">
      <a href="/help" id="top">Help</a>
      <a href="/contact">Contact</a>
      <a href="/cookies">Cookies</a>
      <a href="/rules"id="bottom">Rules</a>
    </div>
  </div>

  <div id="article">
    <h1>Cookie Policy</h1>
      
    <div id="content">

What Are Cookies<br>

As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.<br>

For more general information on cookies see the Wikipedia article on HTTP Cookies...<br>
<br>
How We Use Cookies<br>

We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.<br>
<br>
Disabling Cookies<br>

You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.<br>
<br>
The Cookies We Set<br>

If you create an account with us then we will use cookies for the management of the signup process and general administration. These cookies will usually be deleted when you log out however in some cases they may remain afterwards to remember your site preferences when logged out.<br>

We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in every single time you visit a new page. These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when logged in.<br>

<br>
Third Party Cookies<br>

In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.<br>

This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.<br>

For more information on Google Analytics cookies, see the official Google Analytics page.<br>

The Google AdSense service we use to serve advertising uses a DoubleClick cookie to serve more relevant ads across the web and limit the number of times that a given ad is shown to you.<br>

For more information on Google AdSense see the official Google AdSense privacy FAQ.<br>

We use adverts to offset the costs of running this site and provide funding for further development. The behavioural advertising cookies used by this site are designed to ensure that we provide you with the most relevant adverts where possible by anonymously tracking your interests and presenting similar things that may be of interest.<br>



More Information<br>

Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. However if you are still looking for more information then you can contact us through one of our preferred contact methods.<br>

    </div>
      
  </div>
  
  <%= javascript_include_tag "jquery.js", "index.js", "posts.js"  %>
  
  <% if current_user then %>
      <style>
		  body{
		      background-image:url('<%=current_user.background%>');
	      }
	      h1{
	          background:<%=current_user.main_color%> !important;
	      }
	      #header{
	          background:<%=current_user.main_color%> !important;
	      }
	      #formsub{
		 	          background:<%=current_user.main_color%> !important;

	      }
	      #ptitle{
			  color:<%=current_user.snd_color %> !important;
		  }
      </style>
  <% end %>
  
</body>

</html>
