<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Iomha</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag "indexstyle.css" %>
</head>

<body>
	
  <div id="header">
	  <a href="/"><img src="/images/logo.png" id="logo"></a>
	  <a href=""><img src="/images/tab.png" id="tab"></a>
	  
	  <% unless current_user then %>
	    <a href="login"><p id="signin">Sign in</p></a>
	    <a href="signup"><p id="signup">Sign up</p></a>
	  <% else %>
	    <% if current_user.notifications > 0 then %>
	      <a href=""><img src="/images/trired.png" id="tri"></a>
	    <% else %>
	      <% if current_user.notifications > 0 then %>
	      <a href=""><img src="/images/trired.png" id="tri"></a>
	    <% else %>
	      <a href=""><img src="/images/tri.png" id="tri"></a>
	    <% end %>
	    <% end %>
	    <a href="/user/<%=current_user.username%>"><p id="c_user"><%=current_user.username%></p></a>
	  <% end %>
  </div>
  
  <div id="umenu">
    <div class="u-content">
      <a href="/messages" id="utop">Messages</a>
      <a href="/themes">Themes</a>
      <a href="/logout" id="ubottom">Sign out</a></a>
    </div>
  </div>
  
  <div id="dropmenu">
    <div class="dropdown-content">
      <a href="/help" id="top">Help</a>
      <a href="/contact">Contact</a>
      <a href="/cookies">Cookies</a>
      <a href="/rules"id="bottom">Rules</a>
    </div>
  </div>

  <div id="article">
    <h1>Help</h1>
      
    <div id="content">
		Email info@iomha.ie for any inquiries.
    </div>
      
  </div>
  
  <%= javascript_include_tag "jquery.js", "index.js", "posts.js"  %>
  
  <% if current_user then %>
      <style>
		  body{
		      background-image:url('<%=current_user.background%>');
	      }
	      h1{
	          background:<%=current_user.main_color%> !important;
	      }
	      #header{
	          background:<%=current_user.main_color%> !important;
	      }
	      #formsub{
		 	          background:<%=current_user.main_color%> !important;

	      }
	      #ptitle{
			  color:<%=current_user.snd_color %> !important;
		  }
      </style>
  <% end %>
  
</body>

</html>
